<div class="loader-overlay loader-with-content">
    <div class="loader-container">
        <div class="spinner" role="progressbar">
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
            <div class="spinner-bar"></div>
        </div>
        <div class="loader-overlay-message">Loading&hellip;</div>
    </div>
</div>
