@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Account Disabled";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">This account has been deactivated. Please contact our Candidate Services Unit at @Cfb.CandidatePortal.CPProviders.SettingsProvider.AgencyPhoneNumber to regain access.</h2>
</hgroup>
