<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cfb.SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.SharePoint.Properties.Settings>
            <setting name="Cfb_SharePoint_ListsService_Lists" serializeAs="String">
                <value>http://candidateportaldev:10006/_vti_bin/Lists.asmx</value>
            </setting>
        </Cfb.SharePoint.Properties.Settings>
    </applicationSettings>
</configuration>