<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Cfb.CandidatePortal.Data.Properties.Settings.CAccessDbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Cfb.CandidatePortal.Data.Properties.Settings.SharePointContentConnection" connectionString="Data Source=PORTALDEV;Initial Catalog=CandidatePortal_Content;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Cfb.Cfis.Data.Properties.Settings.CfispubConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Cfb.Cfis.Data.Properties.Settings.CfisprodConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Cfb.Cfis.Data.Properties.Settings.BackupCfispubConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="CmoEntities" connectionString="metadata=res://*/CmoModel.csdl|res://*/CmoModel.ssdl|res://*/CmoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CPEntities" connectionString="metadata=res://*/CPModel.csdl|res://*/CPModel.ssdl|res://*/CPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="CPSecurityEntities" connectionString="metadata=res://*/SecurityModel.csdl|res://*/SecurityModel.ssdl|res://*/SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-MvcApplication-20160328014304.mdf;Initial Catalog=aspnet-MvcApplication-20160328014304;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CPAuditEmail" value="simoncwu@gmail.com" />
    <add key="CPCsuEmail" value="simoncwu@gmail.com" />
    <add key="CPGeneralEmail" value="simoncwu@gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="caccess-noreply-dev@nyccfb.info">
        <network host="cfbmail.nyccfb.info" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <sessionState timeout="1440"></sessionState>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <membership defaultProvider="CAccessMembershipProvider">
      <providers>
        <add name="CAccessMembershipProvider" type="Cfb.CandidatePortal.Web.Security.CfbMembershipProvider, Cfb.CandidatePortal.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CAccess" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CAccessRoleProvider">
      <providers>
        <add name="CAccessRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
      </providers>
    </roleManager>
    <profile defaultProvider="CAccessProfileProvider" enabled="true">
      <providers>
        <add name="CAccessProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
      </providers>
      <properties>
        <add name="CfisID" type="string"/>
        <add name="CAID" type="string"/>
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8006/CAccess/DataService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MaxStreamed" contract="DataService.IDataService" name="" kind="" endpointConfiguration="" />
      <endpoint address="net.tcp://localhost:8008/CAccess/SecurityService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MaxStreamed" contract="SecurityService.ISecurityService" name="" kind="" endpointConfiguration="" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_MaxStreamed" transferMode="Streamed" maxBufferPoolSize="2147483647" maxBufferSize="65536" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>