<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cfb.CandidatePortal.ServiceProcess.CPReminderDistributionService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="cAccess">
			<section name="electionCycle" type="Cfb.CandidatePortal.CPConfiguration.ElectionCycleSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
			<section name="sites" type="Cfb.CandidatePortal.CPConfiguration.SitesSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="C-Access" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add source="C-Access Reminder Distribution Service" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener"/>
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="C-Access">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</add>
			<add switchValue="All" name="E-mail Event">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Log Only Policy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
						<exceptionHandlers>
							<add logCategory="C-Access" eventId="100" severity="Error" title="Exception Management Application Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" useDefaultLogger="true" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<connectionStrings>
		<add name="Cfb.CandidatePortal.Data.Properties.Settings.SharePointContentConnection" connectionString="Data Source=PORTALDEV;Initial Catalog=CandidatePortal_Content;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=PORTALDEV;Initial Catalog=CandidatePortal_AspNetDb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<cAccess>
		<electionCycle cutOff="2005"/>
		<sites url="https://candidateportaldev" spContentUrl="http://candidateportaldev:10006"/>
	</cAccess>
	<applicationSettings>
		<Cfb.CandidatePortal.ServiceProcess.CPReminderDistributionService.Properties.Settings>
			<setting name="TimerIntervalMinutes" serializeAs="String">
				<value>15</value>
			</setting>
			<setting name="DoingBusinessReminderDays" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="BodyTemplateHeader" serializeAs="String">
				<value>
					&lt;html&gt;
					&lt;body&gt;
					&lt;h1&gt;&lt;img src="{0}/images/caccess-logo.png" width="113" height="29" alt="C-Access"/&gt;&lt;/h1&gt;
				</value>
			</setting>
			<setting name="BodyTemplateFooter" serializeAs="String">
				<value>
					&lt;p&gt;&lt;em&gt;NOTE: Please do not reply to this automated message, as e-mail sent to this address will not be answered.&lt;/em&gt;&lt;/p&gt;
					&lt;/body&gt;
					&lt;/html&gt;
				</value>
			</setting>
			<setting name="DoingBusinessSubject" serializeAs="String">
				<value>Doing Business Reminder</value>
			</setting>
			<setting name="DoingBusinessBodyTemplate" serializeAs="String">
				<value>
					&lt;p&gt;Please be reminded that a response is due in {0} days to a notification by the CFB regarding contributions during the {1} election that exceed the doing business limit. No extensions can be granted. The notification was sent directly to your campaign via e-mail on {2:M}, {2:yyyy}. If you did not receive the notification, or if you have any questions, please contact &lt;a href="mailto:CFBDoingBusiness@nyccfb.info"&gt;CFBDoingBusiness@nyccfb.info&lt;/a&gt; immediately.&lt;/p&gt;
				</value>
			</setting>
			<setting name="SenderDisplayName" serializeAs="String">
				<value>CFB Notice</value>
			</setting>
			<setting name="SenderEmail" serializeAs="String">
				<value/>
			</setting>
		</Cfb.CandidatePortal.ServiceProcess.CPReminderDistributionService.Properties.Settings>
	</applicationSettings>
	<system.web>
		<membership defaultProvider="CAccessMembershipProvider">
			<providers>
				<clear/>
				<add name="CAccessMembershipProvider" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CAccess" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" maxInvalidPasswordAttempts="10" passwordAttemptWindow="15" cpLockoutDuration="15" type="Cfb.CandidatePortal.Web.Security.CfbMembershipProvider, Cfb.CandidatePortal.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1"/>
			</providers>
		</membership>
		<!-- role provider -->
		<roleManager enabled="true" defaultProvider="CAccessRoleProvider">
			<providers>
				<clear/>
				<add name="CAccessRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
			</providers>
		</roleManager>
		<!-- profile provider -->
		<profile defaultProvider="CAccessProfileProvider" enabled="true">
			<providers>
				<clear/>
				<add name="CAccessProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
			</providers>
			<properties>
				<add name="CfisID" type="string"/>
				<add name="CAID" type="string"/>
			</properties>
		</profile>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="caccess-noreply-dev@nyccfb.info">
				<network host="192.168.100.26" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IDataService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
				 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
				 maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="false" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ISecurityService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
				 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
				 maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8006/CAccess/DataService"
			 behaviorConfiguration="EndpointBehavior_NetTcpBinding_IDataService"
			 binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService"
			 contract="DataService.IDataService" name="NetTcpBinding_IDataService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:8008/CAccess/SecurityService"
				behaviorConfiguration="EndpointBehavior_NetTcpBinding_ISecurityService"
				binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityService"
				contract="SecurityService.ISecurityService" name="NetTcpBinding_ISecurityService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="EndpointBehavior_NetTcpBinding_IDataService">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="EndpointBehavior_NetTcpBinding_ISecurityService">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
