@model string
<div class="form-group@(ViewData.ContainsKey("class")? " " + ViewData["class"] : null)">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    @if (ViewData.ModelMetadata.IsReadOnly)
    {
        <p class="form-control-static">@Html.DisplayFor(m => m)</p>
    }
    else
    {
        var htmlAttr = new Dictionary<string, object> {
            { "class", "form-control" },
            { "maxlength", "10" }
        };
        string attr = "readonly";
        if (ViewData.ContainsKey(attr))
        {
            htmlAttr[attr] = attr;
        }
        @Html.TextBox("", Model, htmlAttr)
    }
</div>