<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cfb.CandidatePortal.SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.CandidatePortal.SharePoint.Properties.Settings>
            <setting name="AnnouncementsListName" serializeAs="String">
                <value>Announcements</value>
            </setting>
            <setting name="AnnouncementTitleAttributeName" serializeAs="String">
                <value>ows_Title</value>
            </setting>
            <setting name="AnnouncementPostedAttributeName" serializeAs="String">
                <value>ows_Posted</value>
            </setting>
            <setting name="AnnouncementElectionCyclesAttributeName" serializeAs="String">
                <value>ows_ElectionCycles</value>
            </setting>
            <setting name="ListItemModerationAttributeName" serializeAs="String">
                <value>ows__ModerationStatus</value>
            </setting>
            <setting name="AnnouncementListQueryFilter" serializeAs="String">
                <value>&lt;OrderBy&gt;
	&lt;FieldRef Name="Posted" Ascending="TRUE" /&gt;
&lt;/OrderBy&gt;
&lt;Where&gt;
	&lt;And&gt;
		&lt;Eq&gt;
			&lt;FieldRef Name="_ModerationStatus" /&gt;
			&lt;Value Type="ModStat"&gt;Approved&lt;/Value&gt;
		&lt;/Eq&gt;
		&lt;And&gt;
			&lt;And&gt;
				&lt;Or&gt;
					&lt;IsNull&gt;
						&lt;FieldRef Name="Expires" /&gt;
					&lt;/IsNull&gt;
					&lt;Geq&gt;
						&lt;FieldRef Name="Expires" /&gt;
						&lt;Value Type="DateTime"&gt;
							&lt;Today /&gt;
						&lt;/Value&gt;
					&lt;/Geq&gt;
				&lt;/Or&gt;
				&lt;Leq&gt;
					&lt;FieldRef Name="Posted" /&gt;
					&lt;Value Type="DateTime"&gt;
						&lt;Today /&gt;
					&lt;/Value&gt;
				&lt;/Leq&gt;
			&lt;/And&gt;
			&lt;Or&gt;
				&lt;IsNull&gt;
					&lt;FieldRef Name="ElectionCycles" /&gt;
				&lt;/IsNull&gt;
				&lt;Contains&gt;
					&lt;FieldRef Name="ElectionCycles" /&gt;
					&lt;Value Type="Text"&gt;{0}&lt;/Value&gt;
				&lt;/Contains&gt;
			&lt;/Or&gt;
		&lt;/And&gt;
	&lt;/And&gt;
&lt;/Where&gt;</value>
            </setting>
            <setting name="AnnouncementItemQueryFilter" serializeAs="String">
                <value>&lt;Where&gt;
	&lt;And&gt;
		&lt;Eq&gt;
			&lt;FieldRef Name="ID" /&gt;
			&lt;Value Type="Integer"&gt;{0}&lt;/Value&gt;
		&lt;/Eq&gt;
		&lt;Leq&gt;
			&lt;FieldRef Name="Posted" /&gt;
			&lt;Value Type="DateTime"&gt;
				&lt;Today /&gt;
			&lt;/Value&gt;
		&lt;/Leq&gt;
	&lt;/And&gt;
&lt;/Where&gt;</value>
            </setting>
            <setting name="ListItemIDAttributeName" serializeAs="String">
                <value>ows_ID</value>
            </setting>
            <setting name="FilingDateAnnouncementListQueryFilter" serializeAs="String">
                <value>&lt;OrderBy&gt;
	&lt;FieldRef Name="Posted" Ascending="FALSE" /&gt;
&lt;/OrderBy&gt;
&lt;Where&gt;
	&lt;And&gt;
		&lt;And&gt;
			&lt;Eq&gt;
				&lt;FieldRef Name="Category" /&gt;
				&lt;Value Type="Text"&gt;Filing Dates&lt;/Value&gt;
			&lt;/Eq&gt;
			&lt;Eq&gt;
				&lt;FieldRef Name="StatementNumber" /&gt;
				&lt;Value Type="Integer"&gt;{0}&lt;/Value&gt;
			&lt;/Eq&gt;
		&lt;/And&gt;
		&lt;And&gt;
			&lt;And&gt;
				&lt;Leq&gt;
					&lt;FieldRef Name="Posted" /&gt;
					&lt;Value Type="DateTime"&gt;
						&lt;Today /&gt;
					&lt;/Value&gt;
				&lt;/Leq&gt;
				&lt;Or&gt;
					&lt;IsNull&gt;
						&lt;FieldRef Name="ElectionCycles" /&gt;
					&lt;/IsNull&gt;
					&lt;Contains&gt;
						&lt;FieldRef Name="ElectionCycles" /&gt;
						&lt;Value Type="Text"&gt;{1}&lt;/Value&gt;
					&lt;/Contains&gt;
				&lt;/Or&gt;
			&lt;/And&gt;
			&lt;Eq&gt;
				&lt;FieldRef Name="_ModerationStatus" /&gt;
				&lt;Value Type="ModStat"&gt;Approved&lt;/Value&gt;
			&lt;/Eq&gt;
		&lt;/And&gt;
	&lt;/And&gt;
&lt;/Where&gt;</value>
            </setting>
            <setting name="AnnouncementFilingOverrideAttributeName" serializeAs="String">
                <value>ows_FilingDateOverride</value>
            </setting>
            <setting name="AnnouncementBodyAttributeName" serializeAs="String">
                <value>ows_Body</value>
            </setting>
        </Cfb.CandidatePortal.SharePoint.Properties.Settings>
        <SharePoint.Properties.Settings>
            <setting name="AnnouncementsListName" serializeAs="String">
                <value>Announcements</value>
            </setting>
            <setting name="AnnouncementTitleAttributeName" serializeAs="String">
                <value>ows_Title</value>
            </setting>
            <setting name="AnnouncementPostedAttributeName" serializeAs="String">
                <value>ows_Posted</value>
            </setting>
            <setting name="AnnouncementElectionCyclesAttributeName" serializeAs="String">
                <value>ows_ElectionCycles</value>
            </setting>
            <setting name="AnnouncementApprovedAttributeName" serializeAs="String">
                <value>ows__ModerationStatus</value>
            </setting>
            <setting name="AnnouncementListQueryFilter" serializeAs="String">
                <value>&lt;OrderBy&gt;
	&lt;FieldRef Name="Posted" Ascending="TRUE" /&gt;
&lt;/OrderBy&gt;
&lt;Where&gt;
	&lt;And&gt;
		&lt;Eq&gt;
			&lt;FieldRef Name="_ModerationStatus" /&gt;
			&lt;Value Type="ModStat"&gt;Approved&lt;/Value&gt;
		&lt;/Eq&gt;
		&lt;And&gt;
			&lt;And&gt;
				&lt;Or&gt;
					&lt;IsNull&gt;
						&lt;FieldRef Name="Expires" /&gt;
					&lt;/IsNull&gt;
					&lt;Geq&gt;
						&lt;FieldRef Name="Expires" /&gt;
						&lt;Value Type="DateTime"&gt;
							&lt;Today /&gt;
						&lt;/Value&gt;
					&lt;/Geq&gt;
				&lt;/Or&gt;
				&lt;Leq&gt;
					&lt;FieldRef Name="Posted" /&gt;
					&lt;Value Type="DateTime"&gt;
						&lt;Today /&gt;
					&lt;/Value&gt;
				&lt;/Leq&gt;
			&lt;/And&gt;
			&lt;Or&gt;
				&lt;IsNull&gt;
					&lt;FieldRef Name="ElectionCycles" /&gt;
				&lt;/IsNull&gt;
				&lt;Contains&gt;
					&lt;FieldRef Name="ElectionCycles" /&gt;
					&lt;Value Type="Text"&gt;{0}&lt;/Value&gt;
				&lt;/Contains&gt;
			&lt;/Or&gt;
		&lt;/And&gt;
	&lt;/And&gt;
&lt;/Where&gt;</value>
            </setting>
            <setting name="AnnouncementItemQueryFilter" serializeAs="String">
                <value>&lt;Where&gt;
	&lt;And&gt;
		&lt;Eq&gt;
			&lt;FieldRef Name="ID" /&gt;
			&lt;Value Type="Integer"&gt;{0}&lt;/Value&gt;
		&lt;/Eq&gt;
		&lt;Leq&gt;
			&lt;FieldRef Name="Posted" /&gt;
			&lt;Value Type="DateTime"&gt;
				&lt;Today /&gt;
			&lt;/Value&gt;
		&lt;/Leq&gt;
	&lt;/And&gt;
&lt;/Where&gt;</value>
            </setting>
        </SharePoint.Properties.Settings>
    </applicationSettings>
</configuration>