<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<sectionGroup name="cAccess">
			<section name="electionCycle" type="Cfb.CandidatePortal.CPConfiguration.ElectionCycleSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
			<section name="sites" type="Cfb.CandidatePortal.CPConfiguration.SitesSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cfb.Camp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Cfb.Camp.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Cfb.CandidatePortal.Web.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cfb.Camp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	 defaultCategory="C-Access" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 source="CAMP Exception Handler" formatter="Text Formatter" log="Application"
			 machineName="." traceOutputOptions="None" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
			 name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="C-Access">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener	" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Log Only Policy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 postHandlingAction="None">
						<exceptionHandlers>
							<add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							 logCategory="C-Access" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
							 formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							 priority="0" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<connectionStrings>
		<clear/>
		<add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=PORTALDEV;Initial Catalog=CandidatePortal_AspNetDb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="Cfb.CandidatePortal.Data.Properties.Settings.SharePointContentConnection" connectionString="Data Source=PORTALDEV;Initial Catalog=CandidatePortal_Content;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<cAccess>
		<electionCycle cutOff="2005"/>
		<sites url="https://candidateportaldev" spContentUrl="http://candidateportaldev:10006"/>
	</cAccess>
	<applicationSettings>
		<Cfb.Camp.Properties.Settings>
			<setting name="CampTitle" serializeAs="String">
				<value>DEV C-Access Management Program (CAMP-DEV)</value>
			</setting>
			<setting name="MinWidth" serializeAs="String">
				<value>930</value>
			</setting>
			<setting name="MinHeight" serializeAs="String">
				<value>700</value>
			</setting>
		</Cfb.Camp.Properties.Settings>
		<Cfb.Camp.Forms.Properties.Settings>
			<setting name="CfbStaffADPath" serializeAs="String">
				<value>LDAP://CN=CFB Staff (Sec),OU=CFB Shared Resources,DC=NYCCFB,DC=INFO</value>
			</setting>
		</Cfb.Camp.Forms.Properties.Settings>
		<Cfb.CandidatePortal.Web.Security.Properties.Settings>
			<setting name="SPPeopleService" serializeAs="String">
				<value>http://candidateportaldev:10006/_vti_bin/People.asmx</value>
			</setting>
			<setting name="SPUserGroupService" serializeAs="String">
				<value>http://candidateportaldev:10006/_vti_bin/UserGroup.asmx</value>
			</setting>
			<setting name="SPGroupName" serializeAs="String">
				<value>Candidates</value>
			</setting>
			<setting name="SPSiteName" serializeAs="String">
				<value>caccess.nyccfbtest.info</value>
			</setting>
			<setting name="CfisIdProfileProperty" serializeAs="String">
				<value>CfisID</value>
			</setting>
			<setting name="CaidProfileProperty" serializeAs="String">
				<value>CAID</value>
			</setting>
		</Cfb.CandidatePortal.Web.Security.Properties.Settings>
	</applicationSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="caccess-noreply-dev@nyccfb.info">
				<network host="192.168.100.25" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<membership defaultProvider="CAccessMembershipProvider">
			<providers>
				<clear/>
				<add name="CAccessMembershipProvider" type="Cfb.CandidatePortal.Web.Security.CfbMembershipProvider, Cfb.CandidatePortal.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CAccess" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="CAccessRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="CAccessRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
			</providers>
		</roleManager>
		<profile defaultProvider="CAccessProfileProvider" enabled="true">
			<providers>
				<clear/>
				<add name="CAccessProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
			</providers>
			<properties>
				<add name="CfisID" type="string"/>
				<add name="CAID" type="string"/>
			</properties>
		</profile>
	</system.web>
	<userSettings>
		<Cfb.Camp.Properties.Settings>
			<setting name="CampWidth" serializeAs="String">
				<value>930</value>
			</setting>
			<setting name="CampHeight" serializeAs="String">
				<value>700</value>
			</setting>
			<setting name="CampWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="CampLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
		</Cfb.Camp.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IDataService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
				 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
				 maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="false" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ISecurityService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions"
				 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
				 maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8006/CAccess/DataService"
			 behaviorConfiguration="EndpointBehavior_NetTcpBinding_IDataService"
			 binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService"
			 contract="DataService.IDataService" name="NetTcpBinding_IDataService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:8008/CAccess/SecurityService"
			 behaviorConfiguration="EndpointBehavior_NetTcpBinding_ISecurityService"
			 binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityService"
			 contract="SecurityService.ISecurityService" name="NetTcpBinding_ISecurityService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="EndpointBehavior_NetTcpBinding_IDataService">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="EndpointBehavior_NetTcpBinding_ISecurityService">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
