<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cfb.CandidatePortal.Web.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection"
   connectionString="Data Source=portaldev;Initial Catalog=CandidatePortal_AspNetDb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<membership defaultProvider="CAccessMembershipProvider">
			<providers>
				<add name="CAccessMembershipProvider" type="Cfb.CandidatePortal.Web.Security.CfbMembershipProvider, Cfb.CandidatePortal.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CAccess" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="CAccessRoleProvider">
			<providers>
				<add name="CAccessRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
			</providers>
		</roleManager>
		<profile defaultProvider="CAccessProfileProvider" enabled="true">
			<providers>
				<add name="CAccessProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
			</providers>
			<properties>
				<add name="CfisID" type="string"/>
				<add name="CAID" type="string"/>
			</properties>
		</profile>
	</system.web>
	<applicationSettings>
		<Cfb.CandidatePortal.Web.Security.Properties.Settings>
   <setting name="LockoutDuration" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="SPPeopleService" serializeAs="String">
    <value>http://candidateportaldev:10006/_vti_bin/People.asmx</value>
   </setting>
   <setting name="SPGroupName" serializeAs="String">
    <value>Candidates</value>
   </setting>
   <setting name="LogFileNameFormat" serializeAs="String">
    <value>Puma_{0}.log</value>
   </setting>
   <setting name="SPSiteName" serializeAs="String">
    <value>candidateportaldev</value>
   </setting>
   <setting name="CfisIdProfileProperty" serializeAs="String">
    <value>CfisID</value>
   </setting>
   <setting name="CaidProfileProperty" serializeAs="String">
    <value>CAID</value>
   </setting>
   <setting name="Cfb_CandidatePortal_Web_Security_SPPeopleService_People"
    serializeAs="String">
    <value>http://candidateportaldev:10006/_vti_bin/People.asmx</value>
   </setting>
   <setting name="Cfb_CandidatePortal_Web_Security_SPUserGroupService_UserGroup"
    serializeAs="String">
    <value>http://candidateportaldev:10006/_vti_bin/UserGroup.asmx</value>
   </setting>
   <setting name="UserNameSkipCharacters" serializeAs="String">
    <value>'- ,.</value>
   </setting>
  </Cfb.CandidatePortal.Web.Security.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
