<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cfb.CandidatePortal.CPSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.CandidatePortal.CPSettings.Properties.Settings>
            <setting name="LastReminderDistributionDate" serializeAs="String">
                <value>LastReminderDistributionDate</value>
            </setting>
            <setting name="MessageSenderDisplayName" serializeAs="String">
                <value>MessageSenderDisplayName</value>
            </setting>
            <setting name="AdministratorsGroupName" serializeAs="String">
                <value>AdministratorsGroupName</value>
            </setting>
            <setting name="AccountManagersGroupName" serializeAs="String">
                <value>AccountManagersGroupName</value>
            </setting>
            <setting name="AgencyName" serializeAs="String">
                <value>AgencyName</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>ApplicationName</value>
            </setting>
            <setting name="ApplicationUrl" serializeAs="String">
                <value>ApplicationUrl</value>
            </setting>
            <setting name="AgencyPhoneNumber" serializeAs="String">
                <value>AgencyPhoneNumber</value>
            </setting>
            <setting name="MinimumPasswordLength" serializeAs="String">
                <value>MinimumPasswordLength</value>
            </setting>
            <setting name="CandidatesSecurityGroupName" serializeAs="String">
                <value>CandidatesSecurityGroupName</value>
            </setting>
            <setting name="MinimumElectionCycle" serializeAs="String">
                <value>MinimumElectionCycle</value>
            </setting>
            <setting name="MessageSenderEmail" serializeAs="String">
                <value>MessageSenderEmail</value>
            </setting>
        </Cfb.CandidatePortal.CPSettings.Properties.Settings>
    </applicationSettings>
</configuration>