@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your request has been received. If the email you provided exists within the system, further instructions will be sent to that address. Please check your email to continue resetting your password.
    </p>
</div>