<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cfb.CandidatePortal.ServiceModel.CPSecurityService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cfb.CandidatePortal.Web.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="C-Access" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="C-Access Security Service" formatter="Text Formatter" log="Application" machineName="." traceOutputOptions="None"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="C-Access">
        <listeners>
          <add name="Event Log Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener	"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="C-Access" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=PORTALDEV;Initial Catalog=CandidatePortal_AspNetDb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="CPSecurityEntities" connectionString="metadata=res://*/SecurityModel.csdl|res://*/SecurityModel.ssdl|res://*/SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PORTALDEV;initial catalog=CAccessDbDev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="CAccessMembershipProvider">
      <providers>
        <clear/>
        <add name="CAccessMembershipProvider" type="Cfb.CandidatePortal.Web.Security.CfbMembershipProvider, Cfb.CandidatePortal.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CAccess" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="CAccessRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CAccessRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
      </providers>
    </roleManager>
    <profile defaultProvider="CAccessProfileProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CAccessProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess"/>
      </providers>
      <properties>
        <add name="CfisID" type="string"/>
        <add name="CAID" type="string"/>
      </properties>
    </profile>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="caccess-noreply-dev@nyccfb.info">
        <network host="cfbmail.nyccfb.info" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISecurityService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8006/CAccess/DataService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService" behaviorConfiguration="EndpointBehavior_NetTcpBinding_IDataService" contract="DataService.IDataService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Cfb.CandidatePortal.ServiceModel.CPSecurityService.SecurityService" behaviorConfiguration="ServiceBehavior_NetTcpBinding_ISecurityService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8008/CAccess/SecurityService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityService" contract="Cfb.CandidatePortal.ServiceModel.CPSecurityService.ISecurityService">
          <!-- 
            Upon deployment, the following identity element should be removed or replaced to reflect the 
            identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
            automatically.
          -->
          <!--<identity>
            <dns value="localhost"/>
          </identity>-->
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior_NetTcpBinding_ISecurityService">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="100" maxConcurrentInstances="356"/>
          <errorHandlerBehavior/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior_NetTcpBinding_IDataService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandlerBehavior" type="Cfb.CandidatePortal.ServiceModel.ErrorHandlerBehavior, Cfb.CandidatePortal.ServiceModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Cfb.CandidatePortal.ServiceModel.CPSecurityService.Properties.Settings>
      <setting name="TokenValidationWindow" serializeAs="String">
        <value>00:05:00</value>
      </setting>
    </Cfb.CandidatePortal.ServiceModel.CPSecurityService.Properties.Settings>
    <Cfb.CandidatePortal.Web.Security.Properties.Settings>
      <setting name="LockoutDuration" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SPGroupName" serializeAs="String">
        <value>Candidates</value>
      </setting>
      <setting name="MembershipProviderName" serializeAs="String">
        <value>CAccessMembershipProvider</value>
      </setting>
      <setting name="SPSiteName" serializeAs="String">
        <value>candidateportaldev</value>
      </setting>
      <setting name="Cfb_CandidatePortal_Web_Security_SPPeopleService_People"
    serializeAs="String">
        <value>http://candidateportaldev:10006/_vti_bin/People.asmx</value>
      </setting>
      <setting name="Cfb_CandidatePortal_Web_Security_SPUserGroupService_UserGroup"
    serializeAs="String">
        <value>http://candidateportaldev:10006/_vti_bin/UserGroup.asmx</value>
      </setting>
      <setting name="LogFileNameFormat" serializeAs="String">
        <value>Puma_{0}.log</value>
      </setting>
      <setting name="CaidProfileProperty" serializeAs="String">
        <value>CAID</value>
      </setting>
    </Cfb.CandidatePortal.Web.Security.Properties.Settings>
  </applicationSettings>
</configuration>
