<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cfb.CandidatePortal.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.CandidatePortal.Web.Properties.Settings>
            <setting name="ChangePasswordFlag" serializeAs="String">
                <value>CHANGE_PASSWORD</value>
            </setting>
            <setting name="CommentDelimiter" serializeAs="String">
                <value>::</value>
            </setting>
            <setting name="StreamReadingBufferSize" serializeAs="String">
                <value>524288</value>
            </setting>
            <setting name="CacheData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangePasswordPageUrl" serializeAs="String">
                <value>/Help/ChangePassword.aspx</value>
            </setting>
            <setting name="ChangeCmoSettingsPageUrl" serializeAs="String">
                <value>/Messages/Settings.aspx</value>
            </setting>
            <setting name="ComplianceVisitsPageUrl" serializeAs="String">
                <value>/Audit/ComplianceVisits.aspx</value>
            </setting>
            <setting name="StatementReviewsPageUrl" serializeAs="String">
                <value>/Audit/StatementReviews.aspx</value>
            </setting>
            <setting name="FilingDayReminderPageUrl" serializeAs="String">
                <value>/Announcements/DisclosureStatement.aspx</value>
            </setting>
            <setting name="DoingBusinessPageUrl" serializeAs="String">
                <value>/Audit/DoingBusiness.aspx</value>
            </setting>
            <setting name="ExtensionRequestPageUrl" serializeAs="String">
                <value>/Audit/ExtensionRequest.aspx</value>
            </setting>
            <setting name="CandidateProfilePageUrl" serializeAs="String">
                <value>/Profile/Candidate.aspx</value>
            </setting>
            <setting name="CommitteeProfilePageUrl" serializeAs="String">
                <value>/Profile/Committee.aspx</value>
            </setting>
            <setting name="ThresholdPageUrl" serializeAs="String">
                <value>/Audit/Threshold.aspx</value>
            </setting>
            <setting name="PaymentPlanPageUrl" serializeAs="String">
                <value>/Audit/PaymentPlan.aspx</value>
            </setting>
            <setting name="PublicFundsPageUrl" serializeAs="String">
                <value>/Audit/PublicFunds.aspx</value>
            </setting>
            <setting name="FinancialSummaryPageUrl" serializeAs="String">
                <value>/Profile/FinanceSummary.aspx</value>
            </setting>
            <setting name="TrainingTrackingPageUrl" serializeAs="String">
                <value>/Profile/Training.aspx</value>
            </setting>
            <setting name="PostElectionAuditPageUrl" serializeAs="String">
                <value>/Audit/PostElection.aspx</value>
            </setting>
            <setting name="FilerRegistrationsPageUrl" serializeAs="String">
                <value>/Submissions/FilerRegistrations.aspx</value>
            </setting>
            <setting name="CsmartIdsRequestsPageUrl" serializeAs="String">
                <value>/Submissions/CsmartIds.aspx</value>
            </setting>
            <setting name="CertificationsPageUrl" serializeAs="String">
                <value>/Submissions/Certifications.aspx</value>
            </setting>
            <setting name="CoibReceiptsPageUrl" serializeAs="String">
                <value>/Submissions/CoibReceipts.aspx</value>
            </setting>
            <setting name="DisclosureStatmentsPageUrl" serializeAs="String">
                <value>/Submissions/DisclosureStatements.aspx</value>
            </setting>
            <setting name="PreElectionPageUrl" serializeAs="String">
                <value>/Submissions/PreElection.aspx</value>
            </setting>
            <setting name="StatementsOfNeedPageUrl" serializeAs="String">
                <value>/Submissions/StatementsOfNeed.aspx</value>
            </setting>
            <setting name="TerminationPageUrl" serializeAs="String">
                <value>/Submissions/Termination.aspx</value>
            </setting>
            <setting name="CmoMessageViewUrl" serializeAs="String">
                <value>/Messages/View.aspx</value>
            </setting>
            <setting name="CmoMailboxUrl" serializeAs="String">
                <value>/Messages/</value>
            </setting>
            <setting name="AnnouncementPageUrl" serializeAs="String">
                <value>/Announcements/View.aspx</value>
            </setting>
            <setting name="PostElectionAuditTypeParameter" serializeAs="String">
                <value>peart</value>
            </setting>
            <setting name="CommitteeIDParameter" serializeAs="String">
                <value>comm</value>
            </setting>
            <setting name="StatementParameter" serializeAs="String">
                <value>stmt</value>
            </setting>
            <setting name="ExtensionTypeParameter" serializeAs="String">
                <value>exttype</value>
            </setting>
            <setting name="DateParameter" serializeAs="String">
                <value>date</value>
            </setting>
            <setting name="ReviewNumberParameter" serializeAs="String">
                <value>review</value>
            </setting>
            <setting name="LoggedOutParameter" serializeAs="String">
                <value>loggedout</value>
            </setting>
            <setting name="ReturnUrlParameter" serializeAs="String">
                <value>CPReturnUrl</value>
            </setting>
            <setting name="UnauthorizedPageUrl" serializeAs="String">
                <value>/Errors/Unauthorized.aspx</value>
            </setting>
            <setting name="ErrorPageUrl" serializeAs="String">
                <value>/Errors/ServerError.aspx</value>
            </setting>
            <setting name="ElectionCycleParameter" serializeAs="String">
                <value>ec</value>
            </setting>
            <setting name="MinimalMasterPageUrl" serializeAs="String">
                <value>/CPMinimal.master</value>
            </setting>
        </Cfb.CandidatePortal.Web.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
