<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cfb.CandidatePortal.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.CandidatePortal.Net.Properties.Settings>
            <setting name="CmoMessageTemplate" serializeAs="String">
                <value>&lt;p&gt;The NYC Campaign Finance Board has sent the &lt;strong&gt;{0} {1}&lt;/strong&gt; (ID: {2}) campaign a new {3} message. &lt;strong&gt;This message requires your attention.&lt;/strong&gt;&lt;/p&gt;</value>
            </setting>
            <setting name="CmoMessageExtensionTemplate" serializeAs="String">
                <value>&lt;p&gt;The NYC Campaign Finance Board has issued a response to the extension requested by the &lt;strong&gt;{0} {1}&lt;/strong&gt; (ID: {2}) campaign. Please check your C-Access account to obtain the details and any modifications to the due date.&lt;/p&gt;</value>
            </setting>
            <setting name="MessageBodyTemplate" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
&lt;h1&gt;&lt;img src="{2}/images/caccess-logo.png" width="113" height="29" alt="C-Access"/&gt;&lt;/h1&gt;
&lt;p&gt;Dear {0},&lt;/p&gt;
{1}
&lt;p&gt;If you have not yet received or do not know your C-Access username/password, please contact the Candidate Services Unit at (212) 409-1800.&lt;/p&gt;
&lt;p&gt;&lt;em&gt;NOTE: Please do not reply to this automated message, as e-mail sent to this address will not be answered.&lt;/em&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="CmoMessageViewLinkTemplate" serializeAs="String">
                <value>&lt;p&gt;View this message in your C-Access Message Center by clicking the URL below or copying and pasting it in a new browser window:&lt;br/&gt;
&lt;a href="{0}/Messages/View.aspx?id={1}" target="_blank" title="View New CFBMessage"&gt;{0}/Messages/View.aspx?id={1}&lt;/a&gt;&lt;/p&gt;</value>
            </setting>
            <setting name="CmoMessageCCEmailAddress" serializeAs="String">
                <value>caccess-messages@nyccfb.info</value>
            </setting>
            <setting name="CmoMessageTollingTemplate" serializeAs="String">
                <value>&lt;p&gt;The NYC Campaign Finance Board has sent the &lt;strong&gt;{0} {1}&lt;/strong&gt; (ID: {2}) campaign a new {3} letter. &lt;strong&gt;This letter requires your attention.&lt;/strong&gt;&lt;/p&gt;</value>
            </setting>
            <setting name="CmoMessageInadequateTemplate" serializeAs="String">
                <value>&lt;p&gt;The NYC Campaign Finance Board has sent the &lt;strong&gt;{0} {1}&lt;/strong&gt; (ID: {2}) campaign a new {3}. &lt;strong&gt;This letter requires your attention.&lt;/strong&gt;&lt;/p&gt;</value>
            </setting>
        </Cfb.CandidatePortal.Net.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
