<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cfb.CandidatePortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Cfb.CandidatePortal.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.CandidatePortal.Properties.Settings>
            <setting name="FullDateStringFormat" serializeAs="String">
                <value>MMMM d, yyyy</value>
            </setting>
            <setting name="ElectionCycleCutOff" serializeAs="String">
                <value>2009</value>
            </setting>
            <setting name="UpcomingElectionYearCutoffDays" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="MaxStatementsPerCycle" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MaxExtensionLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="OptInStatementNumber" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="MaxExtensionLengthOptIn" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxExtensionLengthPostOptIn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UpcomingCutoffDays" serializeAs="String">
                <value>186</value>
            </setting>
            <setting name="UpcomingPastCutoffDays" serializeAs="String">
                <value>-7</value>
            </setting>
            <setting name="PostElectionPageUrl" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="ExtensionTollingEventCodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XTCMPN</string>
                        <string>XTCFB</string>
                        <string>XTLAST</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LateResponseTollingTypeCode" serializeAs="String">
                <value>NORESP</value>
            </setting>
            <setting name="InadequateResponseTollingTypeCode" serializeAs="String">
                <value>INAD</value>
            </setting>
            <setting name="IdrInadequateResponseTollingSourceCode" serializeAs="String">
                <value>DOCINA</value>
            </setting>
            <setting name="DarInadequateResponseTollingSourceCode" serializeAs="String">
                <value>DARINS</value>
            </setting>
            <setting name="CitywideDarIntervalMonths" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DarFarIntervalMonths" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DarTollingSourceCode" serializeAs="String">
                <value>DARRPT</value>
            </setting>
            <setting name="IdrTollingSourceCode" serializeAs="String">
                <value>IDRREQ</value>
            </setting>
            <setting name="AdditionalInadequateResponseTollingEventCode"
                serializeAs="String">
                <value>ADDINA</value>
            </setting>
            <setting name="TrainingCompliantFarTargetOffsetMonths" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="ExtensionTollingTypeCode" serializeAs="String">
                <value>EXTEND</value>
            </setting>
        </Cfb.CandidatePortal.Properties.Settings>
        <Cfb.CandidatePortal.Settings>
            <setting name="FullDateStringFormat" serializeAs="String">
                <value>"MMMM d, yyyy"</value>
            </setting>
        </Cfb.CandidatePortal.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
