@model Cfb.CandidatePortal.Web.MvcApplication.Areas.Filings.Models.DisclosureStatementListViewModel

@{
    ViewBag.Title = "Financial Disclosure Statements";
}
<h2>@ViewBag.Title</h2>
<p>Listed below is the history of all financial disclosure statements, resubmissions of financial disclosure statements, and amendments to financial disclosure statements received by the CFB from your campaign. Financial disclosure statements may have a status of Processing, Accepted, On-Hold, Rejected or No Processing Required. A &ldquo;Processing&rdquo; status does not indicate that a financial disclosure statement has been &ldquo;Accepted&rdquo; by the CFB. A financial disclosure statement received without required backup documentation will be considered &ldquo;On-Hold&rdquo; until that backup documentation is received.</p>
@Html.Partial(Cfb.CandidatePortal.Web.MvcApplication.Areas.Filings.Controllers.DisclosureStatementController.ActionName_Statement, Model)