<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cfb.SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cfb.CandidatePortal.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <clear />
    <add name="Cfb.CandidatePortal.Data.Properties.Settings.SharePointContentConnection" connectionString="Data Source=DBTEST;Initial Catalog=CAccess_Content;Integrated Security=SSPI;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=DBTEST;Initial Catalog=CAccess_aspnetdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="CPSiteUrl" value="https://caccesstest.nyccfb.info" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SPContentSiteUrl" value="http://caccesstest:10006" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <applicationSettings>
    <Cfb.SharePoint.Properties.Settings>
      <setting name="Cfb_SharePoint_ListsService_Lists" serializeAs="String">
        <value xdt:Transform="Replace">http://caccesstest:10006/_vti_bin/Lists.asmx</value>
      </setting>
    </Cfb.SharePoint.Properties.Settings>
    <Cfb.CandidatePortal.Security.Properties.Settings>
      <setting name="SsoSite" serializeAs="String">
        <value xdt:Transform="Replace">https://caccesstest.nyccfb.info</value>
      </setting>
    </Cfb.CandidatePortal.Security.Properties.Settings>
  </applicationSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Errors/PageNotFound.aspx"/>
      <error statusCode="500" redirect="~/Errors/ServerError.aspx"/>
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="caccess-noreply-test@nyccfb.info" xdt:Transform="SetAttributes(from)">
        <network defaultCredentials="false" xdt:Transform="RemoveAttributes(defaultCredentials)" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>