<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cfb.SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cfb.CandidatePortal.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="cAccess">
      <section name="cmo" type="Cfb.CandidatePortal.CPConfiguration.CmoConfigurationSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="profile" type="Cfb.CandidatePortal.CPConfiguration.CPProfileSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <clear />
    <add name="Cfb.CandidatePortal.Data.Properties.Settings.SharePointContentConnection" connectionString="Data Source=CFBDB-PROD;Initial Catalog=CAccess_Content;Integrated Security=SSPI;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=CFBDB-PROD;Initial Catalog=CAccessDbTraining;Integrated Security=SSPI;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="CPSiteUrl" value="https://caccesstraining.nyccfb.info" />
    <add key="CPAuditEmail" value="swu@nyccfb.info" />
    <add key="CPCsuEmail" value="scrawford@nyccfb.info" />
    <add key="CPGeneralEmail" value="swu@nyccfb.info" />
    <add key="CPAuditExtensionRequestsEmail" value="swu@nyccfb.info"/>
    <add key="SPContentSiteUrl" value="http://caccessprod:10006" />
  </appSettings>
  <applicationSettings>
    <Cfb.SharePoint.Properties.Settings>
      <setting name="Cfb_SharePoint_ListsService_Lists" serializeAs="String">
        <value xdt:Transform="Replace">http://caccessprod:10006/_vti_bin/Lists.asmx</value>
      </setting>
    </Cfb.SharePoint.Properties.Settings>
    <Cfb.CandidatePortal.Security.Properties.Settings>
      <setting name="SsoSite" serializeAs="String">
        <value xdt:Transform="Replace">https://caccesstraining.nyccfb.info</value>
      </setting>
    </Cfb.CandidatePortal.Security.Properties.Settings>
  </applicationSettings>
  <cAccess>
    <cmo defaultRepository="FileRepository">
      <repositories>
        <add name="FileRepository" filePath="Z:\CAccess\CmoRepositoryTraining" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </repositories>
    </cmo>
    <profile photoRepository="FileRepository">
      <repositories>
        <add name="FileRepository" filePath="Z:\CAccess\CandidatePhotosTraining" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </repositories>
    </profile>
  </cAccess>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Errors/PageNotFound.aspx"/>
      <error statusCode="500" redirect="~/Errors/ServerError.aspx"/>
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="caccess-noreply-training@nyccfb.info" xdt:Transform="SetAttributes(from)">
        <network defaultCredentials="false" xdt:Transform="RemoveAttributes(defaultCredentials)" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IDataService" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                 transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                 allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="wsHttpBinding_ISecurityService" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                 transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                 allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://cpservicestraining.nyccfb.info/DataService/Cfb.CandidatePortal.ServiceModel.CPDataService.DataService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IDataService" behaviorConfiguration="EndpointBehavior_wsHttpBinding_IDataService" contract="DataService.IDataService" />
      <endpoint address="https://cpservicestraining.nyccfb.info/SecurityService/Cfb.CandidatePortal.ServiceModel.CPSecurityService.SecurityService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_ISecurityService" behaviorConfiguration="EndpointBehavior_wsHttpBinding_ISecurityService" contract="SecurityService.ISecurityService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior_wsHttpBinding_IDataService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="EndpointBehavior_wsHttpBinding_ISecurityService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>