<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cfb.SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cfb.CandidatePortal.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="cAccess">
      <section name="cmo" type="Cfb.CandidatePortal.CPConfiguration.CmoConfigurationSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="profile" type="Cfb.CandidatePortal.CPConfiguration.CPProfileSection, Cfb.CandidatePortal.CPConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" allowLocation="false" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="C-Access" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="C-Access Web Site" formatter="Text Formatter" log="Application" machineName="." traceOutputOptions="None" />
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="cptest@nyccfb.info" fromAddress="caccess-errors@nyccfb.info" subjectLineStarter="C-Access Error" smtpServer="cfbmail.nyccfb.info" userName="" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="C-Access">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="C-Access" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
          <add name="SqlException" type="System.Data.SqlClient.SqlException, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="C-Access" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <clear />
    <add name="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;AttachDbFileName=U:\Source\Databases\CAccess_AspNetDb.mdf;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CPSiteUrl" value="https://candidateportaldev" />
    <add key="CPAuditEmail" value="cptest@nyccfb.info" />
    <add key="CPCsuEmail" value="cptest@nyccfb.info" />
    <add key="CPGeneralEmail" value="caccesstest@nyccfb.info" />
    <add key="CPAuditExtensionRequestsEmail" value="cptest@nyccfb.info" />
    <add key="SPContentSiteUrl" value="http://candidateportaldev:10006" />
  </appSettings>
  <cAccess>
    <cmo defaultRepository="FileRepository">
      <repositories>
        <add name="FileRepository" filePath="Z:\CAccess\CmoRepository" />
      </repositories>
    </cmo>
    <profile photoRepository="FileRepository">
      <repositories>
        <add name="FileRepository" filePath="Z:\CAccess\CandidatePhotos" />
      </repositories>
    </profile>
  </cAccess>
  <applicationSettings>
    <Cfb.SharePoint.Properties.Settings>
      <setting name="Cfb_SharePoint_ListsService_Lists" serializeAs="String">
        <value>http://candidateportaldev:10006/_vti_bin/Lists.asmx</value>
      </setting>
    </Cfb.SharePoint.Properties.Settings>
    <Cfb.CandidatePortal.Security.Properties.Settings>
      <setting name="SsoSite" serializeAs="String">
        <value>https://candidateportaldev.nyccfb.info</value>
      </setting>
    </Cfb.CandidatePortal.Security.Properties.Settings>
  </applicationSettings>
  <system.web>
    <trace enabled="true" traceMode="SortByCategory" pageOutput="false" />
    <sessionState timeout="30" mode="InProc" regenerateExpiredSessionId="false" />
    <!-- membership provider -->
    <membership defaultProvider="CAccessMembershipProvider">
      <providers>
        <clear />
        <add name="CAccessMembershipProvider" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CAccess" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" maxInvalidPasswordAttempts="10" passwordAttemptWindow="15" cpLockoutDuration="15" type="Cfb.CandidatePortal.Web.Security.CfbMembershipProvider, Cfb.CandidatePortal.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" />
      </providers>
    </membership>
    <!-- role provider -->
    <roleManager enabled="true" defaultProvider="CAccessRoleProvider">
      <providers>
        <clear />
        <add name="CAccessRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess" />
      </providers>
    </roleManager>
    <!-- profile provider -->
    <profile defaultProvider="CAccessProfileProvider" enabled="true">
      <providers>
        <clear />
        <add name="CAccessProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" applicationName="CAccess" />
      </providers>
      <properties>
        <add name="CfisID" type="string" />
        <add name="CAID" type="string" />
        <add name="CAAEC" type="System.Collections.Specialized.StringCollection" serializeAs="Xml" />
      </properties>
    </profile>
    <webParts>
      <personalization defaultProvider="CAccessWebPartProvider">
        <providers>
          <clear />
          <add name="CAccessWebPartProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" applicationName="CAccess" connectionStringName="Cfb.CandidatePortal.Web.Security.Properties.Settings.AspNetDbConnection" />
        </providers>
      </personalization>
    </webParts>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/Errors/PageNotFound.aspx" />
      <error statusCode="500" redirect="/Errors/ServerError.aspx" />
    </customErrors>
    <httpRuntime maxRequestLength="51200" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/" name="CAccess" cookieless="UseCookies" defaultUrl="~/Default.aspx" requireSSL="false" slidingExpiration="true" timeout="30" protection="All">
        <credentials passwordFormat="SHA1"></credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <globalization fileEncoding="utf-8" />
    <pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" asyncTimeout="10" enableEventValidation="false" clientIDMode="AutoID">
      <controls>
        <!-- CFB Candidate Portal -->
        <add tagPrefix="cfb" namespace="Cfb.CandidatePortal.Web.Controls" assembly="Cfb.CandidatePortal.Web.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" />
        <add tagPrefix="cfb" namespace="Cfb.CandidatePortal.SharePoint.Controls" assembly="Cfb.CandidatePortal.SharePoint.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9320c5fb540d5df1" />
        <add tagPrefix="cfb" tagName="CandidateProfile" src="~/Controls/CandidateProfile.ascx" />
        <add tagPrefix="cfb" tagName="CfbResources" src="~/Controls/CfbResources.ascx" />
        <add tagPrefix="cfb" tagName="CommitteeProfile" src="~/Controls/CommitteeProfile.ascx" />
        <add tagPrefix="cfb" tagName="CPCalendarView" src="~/Controls/CPCalendarView.ascx" />
        <add tagPrefix="cfb" tagName="NoScript" src="~/Controls/NoScript.ascx" />
        <add tagPrefix="cfb" tagName="PhotoGreeting" src="~/Controls/PhotoGreeting.ascx" />
        <add tagPrefix="cfb" tagName="WebTransferDisclaimer" src="~/Controls/WebTransferDisclaimer.ascx" />
      </controls>
      <namespaces>
        <!-- CFB Candidate Portal -->
        <add namespace="Cfb.CandidatePortal" />
        <add namespace="Cfb.CandidatePortal.Web" />
        <add namespace="Cfb.CandidatePortal.Web.WebApplication" />
        <add namespace="Cfb.Extensions" />
      </namespaces>
    </pages>
    <httpModules>
      <clear />
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <siteMap defaultProvider="CPSiteMapProvider" enabled="true">
      <providers>
        <add name="CPSiteMapProvider" siteMapFile="Web.sitemap" type="System.Web.XmlSiteMapProvider" description="C-Access SiteMap Provider" />
      </providers>
    </siteMap>
    <machineKey validationKey="BD6E22997C555A17215D6D90C5178B9D54D83BF02C0E6E205096F646740E42D3C2545A34209E684707ED76A5607946AE4C45B1B9518FB766438056F5B57B0938" decryptionKey="0A94944F608C36FC46BEF652BC643093DECA060CB96794B92FCAAFDA164475D6" validation="SHA1" decryption="AES" />
    <compilation batch="false" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="SPHtmlEncodedResources" type="Microsoft.SharePoint.SPHtmlEncodedResourceExpressionBuilder, Microsoft.SharePoint, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" />
      </expressionBuilders>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="caccess-noreply-dev@nyccfb.info">
        <network host="cfbmail.nyccfb.info" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    The system.webServer section is required for running ASP.NET AJAX under Internet
    Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- SharePoint public resources -->
  <location path="_layouts/1033">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="_layouts/images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="_layouts/mobile/mbllogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- C-Access Resources -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Offline.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Errors">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Help/ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Help/Privacy.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Messages">
    <system.web>
      <httpHandlers>
        <add verb="*" path="Attachments/*" type="Cfb.CandidatePortal.Web.CmoAttachmentHandler" />
      </httpHandlers>
      <httpRuntime executionTimeout="43200" />
    </system.web>
  </location>
  <location path="Profile">
    <system.web>
      <httpHandlers>
        <add verb="*" path="CandidatePhoto.axd" type="Cfb.CandidatePortal.Web.ProfilePhotoHandler" />
      </httpHandlers>
    </system.web>
  </location>
  <!-- WCF -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISecurityService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8006/CAccess/DataService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService" behaviorConfiguration="EndpointBehavior_NetTcpBinding_IDataService" contract="DataService.IDataService" />
      <endpoint address="net.tcp://localhost:8008/CAccess/SecurityService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityService" behaviorConfiguration="EndpointBehavior_NetTcpBinding_ISecurityService" contract="SecurityService.ISecurityService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior_NetTcpBinding_IDataService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="EndpointBehavior_NetTcpBinding_ISecurityService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v12.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>