<div class="alert alert-success" role="alert">
    <h5><strong>Additional Account Request Submitted</strong></h5>
    <p>Please allow up to 48 hours for your request to be processed by CFB staff. If approved, the login credentials for this user will be sent to the e-mail address shown.</p>
</div>