@using Cfb.CandidatePortal
@using Cfb.CandidatePortal.Web.Mvc.Strings
<h2>Contact the CFB: Confirmation</h2>
<p class="alert alert-success">The Campaign Finance Board has received your message and will begin processing it shortly. You may also contact us for immediate assistance via telephone at @CPProviders.SettingsProvider.AgencyPhoneNumber.</p>
<h4>Notification Disclaimer</h4>
<p>Communications made through this electronic mail system shall in no way be deemed to constitute:</p>
<ol>
    <li>compliance by any participating candidate with statement filings, or any other Program requirement; or</li>
    <li>a communication that is sufficient for purposes of responding to a notice or inquiry from the Board, or for providing information to the Board; or</li>
    <li>legal notice to the New York City Campaign Finance Board, or any of its officers, employees, agents, or representatives.</li>
</ol>
<a href="@Url.Action(Actions.Default)" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Help</a>