<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cfb.CandidatePortal.Web.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cfb.CandidatePortal.Web.Controls.Properties.Settings>
            <setting name="PressReleasesSearchUrlFormat" serializeAs="String">
                <value>http://www.nyccfb.info/sitesearch/search.asp?zoom_query=%22{0}+{1}%22+%22{1}+{0}%22&amp;zoom_per_page=10&amp;zoom_cat=3&amp;zoom_and=0&amp;zoom_sort=0</value>
            </setting>
            <setting name="PressReleasesSearchUrlMIFormat" serializeAs="String">
                <value>http://www.nyccfb.info/sitesearch/search.asp?zoom_query=%22{0}+{2}%22+%22{2}+{0}%22+%22{0}+{1}+{2}%22&amp;zoom_per_page=10&amp;zoom_cat=3&amp;zoom_and=0&amp;zoom_sort=0</value>
            </setting>
            <setting name="NewAnnouncementCutoffDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TooltipFormat" serializeAs="String">
                <value>&lt;img src="/images/tooltip.png" width="16" height="16" alt="" class="{0}" /&gt;</value>
            </setting>
        </Cfb.CandidatePortal.Web.Controls.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
